:root {
  --primary-color: #212a31;
  --secondary-color: #2e3944;
  --accent-color-1: #124e66;
  --accent-color-2: #748d92;
  --accent-color-3: #d3d9d4;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
}

h1 {
  margin: 2rem 0 0 0;
}

main {
  max-width: 1000px;
  margin: auto;
}

header,
main,
footer {
  padding: 0 1rem;
}

/*** header ***/
header {
  background-color: var(--primary-color);
}

header .wrapper {
  grid-template-columns: auto 60px;
  display: grid;
  align-items: end;
  border-bottom: solid 1px var(--accent-color-2);
  column-gap: 8px;
  max-width: 1000px;
  margin: auto;
  color: var(--accent-color-3);
  padding: 1.5rem 0;
}

.title {
  width: fit-content;
}

.hamburger {
  width: 50px;
  cursor: pointer;
}

/* navigation */
.navigation {
  width: fit-content;
  display: none;
  justify-self: end;
}

.navigation.show {
  position: absolute;
  display: block;
  background-color: var(--primary-color);
  left: 0;
  top: 80px;
  width: 100%;
}

.navigation a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  color: var(--accent-color-3);
}

.navigation a:hover {
  color: var(--accent-color-2);
}

/******** main ********/

.options {
  margin-top: 1rem;
}

.btn {
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem;
  border: none;
  background: var(--primary-color);
  color: var(--accent-color-3);
}

.btn:hover {
  background-color: var(--secondary-color);
}

.member-cards {
  padding: 2rem 0;
  display: grid;
  gap: 20px;
}

.member-card {
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 5px var(--primary-color);
}
.member-card img {
  display: block;
  margin: 3rem auto;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.list {
  grid-template-columns: none;
  gap: 0;
}
.list .member-card {
  border-radius: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 40px;
  box-shadow: none;
}

.list .member-card:nth-child(odd) {
  background-color: var(--accent-color-3);
}
.list .member-card p {
  padding-right: 1rem;
}
.list img {
  display: none;
}
.list a {
  display: block;
  padding-right: 1rem;
}

/******** footer ********/

.footer {
  background-color: var(--primary-color);
  padding: 1.5rem 0;
}

.footer .wrapper {
  text-align: center;
  padding: 1rem 10px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: auto;
}

.footer p {
  color: var(--accent-color-3);
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 1rem 0;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc solid 1px;
  border-radius: 4px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--secondary-color);
}
