@media only screen and (min-width: 641px) {
  main {
    display: block;
  }

  .discover-card {
    grid-template-areas:
      "title title"
      "image description"
      "image address"
      "button button";
    width: 100%;
  }

  .discover-card:hover {
    transform: scale(1.02);
    z-index: 3;
    transition: transform 0.2s;
  }

  .btn {
    grid-area: button;
  }
}
