/* color schema */
:root {
  --primary-color: #05260b;
  --secondary-color: #9ac434;
  --accent-color-1: #dee236;
  --accent-color-2: #f5e5cc;
  --accent-color-3: #fcfcf4;
}

* {
  padding: 0;
  margin: 0;
  font-family: "TASA Orbiter", sans-serif;
}

h1,
p {
  color: var(--primary-color);
}

/*** header ***/
header {
  display: grid;
  grid-template-columns: 24px auto 50px;
  align-items: end;
  border-bottom: solid 1px var(--accent-color-2);
  column-gap: 8px;
  background-color: var(--primary-color);
}

header img {
  margin: 1rem;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 2.3px;
}

header span {
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

/*** hamburger ***/
.hamburger {
  width: 50px;
  margin: 1rem 0.7rem 1.2rem 0;
  background: none;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/*** Navigation ***/
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.navigation a:hover {
  background-color: var(--secondary-color);
}

.navigation li.current {
  background-color: #eee;
}

/* Main Section */

.main h1 {
  padding: 12px 12px;
  color: var(--primary-color);
  grid-column: 1 / 3;
}

.main section {
  margin: 0 12px 2rem 12px;
}

.main section h2 {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 0.4rem 0;
}

.about-me {
  background-color: var(--accent-color-3);
}

.about-me h2 {
  margin-bottom: 1rem;
}

.student-photo {
  position: relative;
  background-color: var(--accent-color-2);
}
.student-photo img {
  display: block;
  width: 80%;
  margin: auto;
}

.courses__buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.courses__buttons button {
  background: none;
  border: none;
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 10px;
}

.courses__buttons button:hover {
  background-color: var(--accent-color-2);
  cursor: pointer;
}

.courses__sections {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.courses__sections p {
  flex: 1;
  flex-basis: 20%;
  width: 100%;
  border-radius: 10px;
  background-color: var(--secondary-color);
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.courses__sections .completed {
  background-color: var(--accent-color-1);
}

.courses__sections .completed::before {
  content: "✓";
}
.courses p {
  margin-top: 1rem;
  text-align: center;
}

dialog {
  border: none;
  width: 400px;
  height: 400px;
  margin: auto;
  border: #05260b;
  background-color: var(--accent-color-3);
  border-radius: 1rem;
  padding: 1rem;
}

::backdrop {
  background-color: rgba(80, 127, 184, 0.554);
}

dialog h2 {
  width: 100%;
  height: fit-content;
}

.close-modal::before {
  content: "X";
}

dialog button {
  position: absolute;
  height: fit-content;
  padding: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  right: 20px;
  top: 10px;
  font-weight: 900;
}

dialog > p {
  margin-right: auto;
}

/* Footer Section */

.footer {
  background-color: var(--primary-color);
  padding: 1rem 10px;
  text-align: center;
}

.footer p {
  color: var(--accent-color-3);
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin: 1rem 0;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc solid 1px;
  border-radius: 4px;
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--secondary-color);
}
