@media only screen and (min-width: 700px) {
  header,
  main,
  nav,
  footer {
    max-width: 1500px;
    margin: 0 auto;
  }
  header {
    grid-template-columns: 24px auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .student-photo img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    object-position: center top; /*got help from ai*/
  }

  .courses {
    grid-column: 1 / 3;
  }
}
